
body{
    background-image: url(roket.jpg)}
h3{
    color:white;
    font-family: 'Helvetica', sans-serif;
    font-size: 55px;
}    
h1{
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: 50px;
}
ul a{
    color: black;
    font-family: ''Helvetica', sans-serif';
    font-size: 15px;
}
.bg-daftar{
    background-color: darkgray;
    color: #fff;
    box-shadow: 0 0 7px 0px darkgray;
    border: 15px solid darkgray;
    text-decoration: none;
}
.bg-pendaftar{
    background-color: darkgray;
    color: #fff;
    box-shadow: 0 0 7px 0px darkgray;
    border: 12px solid darkgray;
    text-decoration: none;
}
.daftar{
    
}


